body {
  background-color: #fff;
  background-image: url(../../img/bg\ blood.png);
}

.header {
  background-color: #ae252c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #ae252c;
  color: white;
  padding: 10px 0;
}

.footer .footer-column {
  margin-bottom: 20px;
}

.footer .footer-column h4 {
  margin-bottom: 15px;
}

.footer .footer-column p {
  margin-bottom: 10px;
}

.footer .social-media a {
  margin-right: 15px;
  color: white;
  font-size: 24px;
}

.footer .social-media a:hover {
  color: #ddd;
}

.footer .copyright {
  text-align: center;
  margin-top: 20px;
}

.hero-section {
  background-image: url(../../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #e8f5ff;
  padding: 40px 0;
  position: relative;
  max-height: 100vh;
  max-width: 600vh;
  display: flex;
}

.hero-section .content {
  max-width: 500px;
  width: 100%;
  text-align: left;
  color: white;
  margin: 200px;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-section button {
  color: #ae252c;
  background-color: #fff;
  padding: 5px 30px;
  border: none;
  border-radius: 20px;
  font-weight: 500;
}

.stock-darah h2 {
  color: #ae252c;
  margin-top: 50px;
}

.kenapa h2 {
  color: #ae252c;
  margin: 50px 0px 0px;
}

.kenapa p {
  text-align: center;
  margin: 5px 0px 50px 0px;
}

.row .card {
  color: white;
  background-color: #ae252c;
  border: none;
}

.row .card .card-body {
  padding: 15px 15px 35px 15px;
}

.tips h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #ae252c;
}

.sponsor h2 {
  margin: 50px;
  color: #ae252c;
}

.sponsor-logo {
  border: 3px solid #ae252c;
  border-radius: 20px;
  padding: 10px;
  max-width: 100px;
}

.sponsor-logo .img-fluid {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 992px) {
  .col-md-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

@media (max-width: 768px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.manfaat-donor h2 {
  color: #a00000;
  margin-bottom: 50px;
  margin-top: 100px;
}

.manfaat-card {
  border: 1px solid #a00000;
  border-radius: 20px;
  padding: 8px;
  margin: 0px 30px;
}

.chatbot-button {
  background-color: #ae252c;
  color: white;
  padding: 16px;
  border: 2px solid white;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  border-radius: 50%;
  font-size: 24px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 300px;
}

.chatbot-header {
  background-color: #ae252c;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.close {
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.chatbot-content {
  padding: 18px;
  background-color: #f9f9f9;
  height: 300px;
  overflow-y: scroll;
}

.chatbot-footer {
  padding: 12px 20px;
  background-color: #f9f9f9;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 5px;
}

.send-btn {
  width: 20%;
  background-color: #ae252c;
  color: white;
  padding: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.chat-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.user-message {
  background-color: #e1ffc7;
  text-align: right;
}

.bot-message {
  background-color: #f1f1f1;
}

.stock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box-container-wrapper {
  overflow: hidden;
  width: 780px;
}

.stock-button {
  background-color: #ae252c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;

  font-size: 24px;
  position: absolute;
}

.stock-button.left {
  margin-left: -450px;
}

.stock-button.right {
  margin-right: -450px;
}

.stock-darah h2 {
  color: #ae252c;
  margin-top: 50px;
  margin-bottom: 50px;
}

.stock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  background-color: #ae252c;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 100px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .box {
    width: 80px;
  }
}

@media (max-width: 576px) {
  .box {
    width: 60px;
  }
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 450;
  margin: 0px 10px;
}
.nav-item.active .nav-link {
  border-bottom: 3px solid white;
}
.navbar-nav .nav-item.active .nav-link {
  color: white;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #000;
}
.navbar-nav .nav-item .nav-link button {
  color: #ae252c;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 4px 25px;
  font-size: 15px;
  font-weight: 550;
  text-align: center;
}
.nav-item.active .nav-link {
  border-bottom: 3px solid white;
}
.navbar-nav .nav-item.active .nav-link {
  color: white;
}

.navbar-nav .btn {
  color: #fff;
}
