body {
  background-color: #fff;
  background-image: url(../../img/bg\ blood.png);
}

.header {
  background-color: #ae252c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #ae252c;
  color: white;
  padding: 10px 0;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 450;
  margin: 0px 10px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #000;
}
.navbar-nav .nav-item .nav-link button {
  color: white;
  background-color: #ae252c;
  border: none;
  border-radius: 20px;
  padding: 4px 25px;
  font-size: 15px;
  font-weight: 450;
  text-align: center;
}
.nav-item.active .nav-link {
  border-bottom: 3px solid white;
}
.navbar-nav .nav-item.active .nav-link {
  color: white;
}

.footer .footer-column {
  margin-bottom: 20px;
}

.footer .footer-column h4 {
  margin-bottom: 15px;
}

.footer .footer-column p {
  margin-bottom: 10px;
}

.footer .social-media a {
  margin-right: 15px;
  color: white;
  font-size: 24px;
}

.footer .social-media a:hover {
  color: #ddd;
}

.footer .copyright {
  text-align: center;
  margin-top: 20px;
}

.hero-section {
  background-image: url(../../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #e8f5ff;
  padding: 40px 0;
  position: relative;
  max-height: 100vh;
  max-width: 600vh;
  display: flex;
}

.hero-section .content {
  max-width: 500px;
  width: 100%;
  text-align: left;
  color: white;
  margin: 200px;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-section button {
  color: #ae252c;
  background-color: #fff;
  padding: 5px 30px;
  border: none;
  border-radius: 20px;
  font-weight: 500;
}

.stock-darah h2 {
  color: #ae252c;
  margin-top: 50px;
}
.table {
  text-align: center;
}

.table thead th {
  background-color: #ae252c;
  color: white;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.kenapa h2 {
  color: #ae252c;
  margin: 50px 0px 0px;
}

.kenapa p {
  text-align: center;
  margin: 5px 0px 50px 0px;
}

.row .card {
  color: white;
  background-color: #ae252c;
  border: none;
}

.row .card .card-body {
  padding: 15px 15px 35px 15px;
}

.tips h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #ae252c;
}

.sponsor h2 {
  margin: 50px;
  color: #ae252c;
}

.sponsor-logo {
  border: 3px solid #ae252c;
  border-radius: 20px;

  padding: 10px;
  max-width: 100px;
}

.sponsor-logo .img-fluid {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 992px) {
  .col-md-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

@media (max-width: 768px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.manfaat-donor h2 {
  color: #a00000;
  margin-bottom: 50px;
  margin-top: 100px;
}

.manfaat-card {
  border: 1px solid #a00000;
  border-radius: 20px;
  padding: 8px;
  margin: 0px 30px;
}
