body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.box {
	background-color: #f8f9fa;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.box p {
	margin: 0;
}

.card-header {
	background-color: #f44336;
	color: white;
}

.navbar {
	margin-bottom: 0;
	height: 70px;
}

.sidebar {
	height: 100vh;
	position: fixed;
	top: 56px; /* Height of navbar */
	left: -250px; /* Initially hidden off screen */
	width: 250px;
	padding-top: 20px;
	transition: left 0.3s ease;
	z-index: 1000;
}

.sidebar.show {
	left: 0;
}

.nav-link {
	color: white !important;
}
.nav-item {
	margin: 0px -15px 0px -15px;
	padding: 8px 5px;
}

.nav-item.active {
	background-color: #8b0000 !important;
}

.nav-item:hover {
	background-color: #d28181 !important;
}

.main-content {
	margin-top: 70px;
	margin-right: 70px;
}

.tambah-search {
	margin-top: 20px;
}

.table thead th {
	background-color: #f44336;
	color: white;
}

.table tbody tr:hover {
	background-color: #f5f5f5;
}

@media (min-width: 992px) {
	.sidebar {
		left: 0;
	}

	.navbar-toggler {
		display: none;
	}
}

.footer {
	margin-top: 50px;
}
.copyright {
	text-align: center;
}


